<div id="bingo">
  <center class="alert-area">
    <div id='text'>
      VSA Saigon by Night
      <br>
      <h1>BINGO</h1>
    </div>
    <h1 id="your-turn">
      <b>YOUR TURN!!!</b>
    </h1>
  </center>
  <div class="container">
    <center>
      <h3>
          <div class = "timer" ><span id="timestring">&nbsp;</span></div>
      </h3>

      <div class="row">
        <div class="col-xs-6">
          <div class="player-info"> <b>Your Name: </b><%= @player.name %></div>
        </div>
        <div class="col-xs-6">
          <b>Turn: </b><span class="current-player">&nbsp;</span>
        </div>
      </div>

      <div class="main-card bingo-card">
        <% for row in 0..4 do %>
          <div class="row">
            <div class="col-xs-1"></div>
          <% for col in 0..4 do %>
            <div class="col-xs-2">
              <div class="bingo-square <%= "square-#{row*5 + col}" %>"> &nbsp; </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </center>

    <div class="last-numbers">
      <h3>Last numbers called:</h3>
      <div class="row">
        <div class="col-xs-1"></div>
      <% for i in 0..4 do %>
        <div class="col-xs-2">
          <center>
            <div class="last-number">
              <div class="<%= "player-#{i}" %> hidden-xs">&nbsp;</div>
              <h2 id = "CircleNum"><div class="<%= "number-#{i}" %>">&nbsp;</div></h2>
            </div>
          </center>
        </div>
      <% end %>
    </div>
  </div>

  <center>
    <div class="modal fade" id="win-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="myModalLabel"><b>YOU WIN!</b></h2>
          </div>
          <div class="modal-body">
            <h3>Your final board:</h3>
            <br>
            <div class="bingo-card">
              <% for row in 0..4 do %>
                <div class="row">
                  <div class="col-xs-1"></div>
                <% for col in 0..4 do %>
                  <div class="col-xs-2">
                    <div class="bingo-square <%= "square-#{row*5 + col}" %>"> &nbsp; </div>
                  </div>
                <% end %>
                </div>
              <% end %>
            </div>
            <br>
            <div class="victory-message">
              Send a message to the losers:
              <input id="victory-text" type="text">
              <input class="btn btn-primary" id="victory-button" type="button" value="Send">
            </div>
          </div>
          <div class="modal-footer">
            <%= button_to "Back to Lobby", {controller: :lobby, action: :index}, {class: "btn btn-primary", method: 'get'} %>
            <%= button_to "Back to Room", {controller: :lobby, action: :join, code: @room.code}, {class: "btn btn-default"} %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="lose-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel"><b>YOU LOSE :(</b></h3>
          </div>
          <div class="modal-body">
            <h3>The winning board:</h3>
            <br>
            <div class="bingo-card">
              <% for row in 0..4 do %>
                <div class="row">
                  <div class="col-xs-1"></div>
                <% for col in 0..4 do %>
                  <div class="col-xs-2">
                    <div class="bingo-square <%= "square-#{row*5 + col}" %>"> &nbsp; </div>
                  </div>
                <% end %>
                </div>
              <% end %>
            </div>
            <br>
            <div class="victory-message"> &nbsp; </div>
          </div>
          <div class="modal-footer">
            <%= button_to "Back to Lobby", {controller: :lobby, action: :index}, {class: "btn btn-primary", method: 'get'} %>
            <%= button_to "Back to Room", {controller: :lobby, action: :join, code: @room.code}, {class: "btn btn-default"} %>
          </div>
        </div>
      </div>
    </div>

  </center>
</div>

<script>
  var timer;
  var timerStart = false;
  var join_interval;

  function initTimer() {
      setInterval(function () {
        if(timerStart) {
          timer -= .5;
          if (timer == 0) {
            sendRandom();
            stopTimer();
          } else {
            $('#timestring').text("Please make a move in " + Math.ceil(timer) + " seconds!")
          }
        }
      }, 500);
  }

  function startTimer() {
    timer = 15;
    timerStart = true;
  }

  function stopTimer() {
    timerStart = false;
    $('#timestring').text("Waiting for your turn...");
  }

  function sendRandom() {
    var uncalled = [];
    $('.main-card .bingo-square').each(function(index, element) {
      if(!$(this).hasClass('called')) {
        uncalled.push(index);
      }
    });
    index = Math.floor(Math.random()*uncalled.length);
    send("number", $('.main-card .square-'+ uncalled[index]).text());
  }

  window.onload = function () {

    dispatcher.bind(<%= @room.id.to_s %>, function(msg) {
      if(msg["type"] == "update") {
        clearInterval(join_interval);
        updateBoard(msg);
        updateNumbers(msg);
        $(".current-player").text(msg["turn"]["name"]);

        if(msg["turn"]["id"] == <%=@player.id%>) {
          $("#your-turn").fadeIn(100).delay(200).fadeOut(100).fadeIn(100).delay(200).fadeOut(100).fadeIn(100).delay(200).fadeOut(100);
          startTimer();
        }
        $('.main-card .bingo-square').off( "click" );
        $('.main-card .bingo-square').not('.called').click(function() {
            send("number", $(this).text());
            stopTimer();
          });

      } else if(msg["type"] == "game_over") {
        if(<%=@player.id%> == msg["victor"]["id"]) {
          $('#win-modal').modal("show");
        } else {
          $('#lose-modal .modal-title').html('<b>' + msg["victor"]["name"] + '</b>' + " wins!");
          $('#lose-modal').modal("show");
        }

        for (var i = 0; i <= 24; i++) {
          var sqNum = msg["players"][msg["victor"]["id"]]["board"][Math.floor(i/5)][i%5]["number"];
          $(".square-" + i).html('<h2>' + sqNum + '</h2>');
          if(msg["players"][msg["victor"]["id"]]["board"][Math.floor(i/5)][i%5]["called"]) {
            $('.square-'+ i).addClass("called");
          } else {
            $('.square-'+ i).removeClass("called");
          }
        }

      } else if(msg["type"] == "victory_msg") {
        $('.victory-message').html("<span id='msg'><b>" + msg["victor"]["name"] + ":</b> " + msg["message"] + "</span>");
      }
    });

    initTimer();
    stopTimer();
    join_interval = setInterval(function() {
      send("join");
    }, 500);
  };

  function send(type, message) {
    message = message || ""
    msg = {"type": type,
      "player": <%= @player.id %>,
      "room": <%= @room.id %>,
      "message": message};
    dispatcher.trigger("bingo_message", msg);
  }

  window.onbeforeunload = function() {
    send("leave");
  };

  function updateBoard(msg) {
    for (var i = 0; i <= 24; i++) {
      var sqNum = msg["players"][<%=@player.id%>]["board"][Math.floor(i/5)][i%5]["number"];
      $(".main-card .square-" + i).html('<h2>' + sqNum + '</h2>');
      if(msg["players"][<%=@player.id%>]["board"][Math.floor(i/5)][i%5]["called"]) {
        $('.main-card .square-'+ i).addClass("called");
      } else {
        $('.main-card .square-'+ i).removeClass("called");
      }
    }
  }

  function updateNumbers(msg) {
    numbers = msg["numbers"]
    names = msg["names"]
    for (var i = 0; i < numbers.length; i++) {
      $('.last-numbers .player-'+ i).text(names[i] + ':');
      $('.last-numbers .number-'+ i).text(numbers[i]);
    }
  }

  $(window).ready(function() {
    var cw = $('.bingo-square').width();
    $('.bingo-square').css({'height':cw+'px'});
  })

  $(window).resize(function() {
    var cw = $('.bingo-square').width();
    $('.bingo-square').css({'height':cw+'px'});
  })

  $('#victory-button').click(function() {
    var msg = $('#victory-text').val() || "Wow, this must be what it's like to be a Tiger! GO TIGERS!"
    send("victory_msg", msg);
  });

</script>
