<div id="bingo">
  <center>
    <h1>
        <div class = "timer" ><span id="timestring"></span></div>
    </h1>

    <div class = "player-info"> Player Name: " <%= @player.name %>
    </div>

    <div class = "current-player">  </div>

    <div class="bingo-card">
      <% for i in 0..24 do %>
         <div class="bingo-square" id=<%= "square-#{i}" %>> hi </div>
      <% end %>
    </div>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  </center>
</div>

<script>
  var hasBeenClicked = false
  function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      timestring = "You will combust in " + minutes + ":" + seconds + " seconds!"
      setInterval(function () {
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = timestring

          if (hasBeenClicked == true) {
            timestring = "thx bruh -- now wait for other peeps"
            display.textContent = timestring
          }

          else if (timer > 0) {
            timer--
            timestring = "You will combust in " + timer + " seconds!"
            display.textContent = timestring
          }

          else if (timer == 0) {
            // DO SOMETHING
            timer--
          }

          else {
            timestring = "TIMES UP boob"
            display.textContent = timestring
          }
      }, 1000);
  }


  window.onload = function () {
      var fifteensecs = 15,
          display = document.querySelector('#timestring');
      startTimer(fifteensecs, display);
  };

  function send(type, message) {
    message = message || ""
    msg = {"type": type,
      "player": <%= @player.id %>,
      "room": <%= @room.id %>,
      "message": message}
    dispatcher.trigger("bingo_message", msg)
  }

  dispatcher.on_open = function() {
    send("join");
  };

  window.onbeforeunload = function() {
    send("leave");
  };

  dispatcher.bind(<%= @room.id.to_s %>, function(msg) {
    if(msg["type"] == "update") {
      updateBoard(msg);

      $(".current-player").text("Current Player: " + msg["turn"]["name"])

      $('.bingo-square').off( "click" );
      $('.bingo-square').click(function() {
        send("number", $(this).text());
        hasBeenClicked = true;
      });
    } else if(msg["type"] == "game_over") {
      updateBoard(msg);
      console.log("game over! " + msg["victor"]["name"] + " wins!");
      if(<%=@player.id%> == msg["victor"]["id"]) {
        $('#myModal').modal("show");
        send("victory_msg", "I won!");
      }
    } else if(msg["type"] == "victory_msg") {
      console.log("victory message: " + msg["message"]);
    }
  });

  function updateBoard(msg) {
    for (var i = 0; i <= 24; i++) {
      var sqNum = msg["players"][<%=@player.id%>]["board"][Math.floor(i/5)][i%5]["number"];
      $("#square-" + i).text(sqNum);
      if(msg["players"][<%=@player.id%>]["board"][Math.floor(i/5)][i%5]["called"]) {
        $('#square-'+ i).addClass("called");
      }
    }
  }
</script>
