<h2>Time to make a room!</h2>

<%= form_for(:rooms, url: {action: :create}, html: {class: "form-inline"}) do |f| %>
  <div class="form-group">
    <%= label_tag(:name, "Room name:") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= label_tag("players[name]", "Your name:") %>
    <%= text_field_tag "players[name]", nil, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Create Room", class: "btn btn-primary" %>
<% end %>
